<!DOCTYPE HTML>
<html>
<head> 
    <meta charset="UTF-8">
	<title>TODO: Title goes here</title>
	<meta name="description" content="TODO: description goes here ">
    <!-- linking a css style sheet -->
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
	<link rel="stylesheet" type="text/css" href="/static/css/AmandaTemplate.css">
   </head>
<body>	
    <div class="container">
        <div class="header">
            <h1><span>(Python) </span> Poke - Exam E - Poke Summary page</h1>
            <h3>Assigment - optional</h3>
            <div class="descr">
                <p>Assigment description:</p>
                <p>Something like in Facebook using a poke to say hello to a friend</p>
                <ul>
                    <li>Index page to login and register</li>
                    <li>Poke show how many time I or otheres have been poked.</li>
                </ul>
            </div>
        </div><!-- end of header content-->
        <div class="maincontent">
             <p style="text-align:right"> Welcome: <span class="boldme">{{ session['name']}}</span> - ({{ session['id']}}) - <a href="/logout">Logout</a></p>

            <h3>People poked you:</h3>
            {% if being_poked %}
                {% for poke in being_poked %}
                    <div class="row"><p> {{ poke['first_name']}} poked you {{ poke['number_of_poke'] }} times.</p></div>
                {% endfor %}
            {% endif%}
            </br>
            <h3>People you may want to poke:</h3>
            <table>
                <tr>
                    <th class="tab">Name</th>
                    <th class="tab">Alias</th>
                    <th class="tab">Email Address</th>
                    <th class="tab">Poke History</th>
                    <th class="tab">Action</th>
                </tr>
                {% if show_others%}
                    {% for other in show_others %}
                        <tr>
                            <td class="tab">{{ other[0]['first_name'] }} {{ other[0]['last_name'] }}</td>
                            <td class="tab">{{ other[0]['alias'] }}</td>
                            <td class="tab">{{ other[0]['email'] }}</td>
                            <td class="tab">{{ other[0]['sumup'] }}</td>
                            <td class="tab"><a href="/poke_me/{{ other[0]['id'] }}">Poke - {{ other[0]['id'] }}<a></td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </table>


            

        </div><!-- end of main content-->
        <div class="footer">
            <p>created by: Amanda Fry</p>
            <a class="footerSpace" href="mailto:FeAmandaF@hotmail.com">FeAmandaF@hotmail.com</a>
            <a href="https://www.linkedin.com/in/amandafry1">Amanda's LinkedIn profile</a>
        </div><!-- end of footer -->
      </div><!-- end of container -->
</body>
</html>
